# Auto detect text files and perform LF normalization
* text=auto

# Images
*.png binary
*.jpg binary
*.gif binary
*.ico binary

# Web files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf